    <div class="lobby"></div>
    <div class="log" id="log"></div>
    <input type="text" id="text-field" autocomplete="off">
    <footer>
        <script src="/app/scripts/main.js" type="module"></script>
    </footer>